<app-card>
<div class="flex flex-col gap-8 md:flex-row ">
    <div class="flex flex-col items-center md:w-1/3">
      <img 
        [src]="master.photo" 
        [alt]="master.name" 
        class="object-cover w-full h-auto max-w-xs mb-4 rounded-lg"
      >
      <app-button text="Записаться к мастеру" [href]="master.href"></app-button>

    </div>

    <div class="space-y-4 md:w-2/3">
      <h3 class="text-3xl font-bold text-gray-800">{{ master.name }}</h3>
      
      <div class="space-y-1 text-lg font-medium text-amber-800">
        @for (position of master.positions; track $index) {
          <p>{{ position }}</p>
        }
      </div>
      
      <p class="text-gray-600">{{ master.description }}</p>
      
      <div class="mt-4">
        <h4 class="mb-2 text-lg font-semibold text-gray-800">
          В работе может использовать вспомогательные инструменты:
        </h4>
        <ul class="space-y-1 text-gray-600 list-disc list-inside">
          @for (tool of master.tools; track $index) {
            <li>{{ tool }}</li>
          }
        </ul>
      </div>
      
      <p class="font-medium text-gray-800">{{ master.specialty }}</p>
      
      <blockquote class="pl-4 mt-4 italic text-gray-700 border-l-4 border-amber-800">
        "{{ master.quote }}"
      </blockquote>
    </div>
  </div>
</app-card>