:host {
    iframe {
        aspect-ratio: 9/16; /* Соотношение сторон как в вашем примере (высота 1136 при ширине 640) */
        background: #5A3E2B; /* Фон на случай загрузки */
        overflow: hidden;
      }
      video::-webkit-media-controls {
        display: none !important;
      }
      video::-webkit-media-controls-enclosure {
        display: none !important;
      }
}