<app-main-dumb></app-main-dumb>

<div class="container-img">
  <app-about-smart ></app-about-smart>
  <app-services-gallery-dumb [data]="servicesContent()" class= "py-16"></app-services-gallery-dumb>
  <app-team-dumb [data]="carouselTeamContent()" class="py-16"></app-team-dumb>
  <app-promotion-dumb [data]="carouselPromotionContent()" class="py-16"></app-promotion-dumb>
  <app-certificate-dumb class="py-16"></app-certificate-dumb>
  <app-contacts-dumb [backgroundClass]="'bg-[rgba(227,213,197,0.8)]'" class="py-16"></app-contacts-dumb>
  <app-about-services class="hidden"></app-about-services>
  </div>
