<div class="flex flex-col px-4 mx-auto text-white md:flex-row bg-primary md:px-8 lg:px-16">
  <div class="flex flex-col items-center justify-center md:w-1/2 md:pr-8 fade-in-left">
    <div class="flex flex-col items-center justify-center gap-8 mt-8 md:mt-0">
      <img src="/assets/images/big-logo.png" 
           alt="LOYA Massage - профессиональный массаж в Минске"
           width="300"
           height="249"
           class="object-contain mb-2 filter brightness-0 invert">
      
           <div class="max-w-lg text-xl text-center fade-in-up" style="animation-delay: 200ms;">
            <p class="mb-2 font-medium">студия массажа в центре Минска</p>
            <p class="text-lg font-light tracking-wide">место, где тело обретает легкость, а душа – гармонию</p>
          </div>
      <div style="animation-delay: 400ms;">
        <app-button variant="secondary" href="https://dikidi.net/601523?p=0.pi" text="записаться"></app-button>
      </div>
    </div>
  </div>
  
  <div class="flex justify-center mt-8 mb-8 md:w-1/2 md:pl-8 fade-in-right">
    <picture>
      <source media="(max-width: 639px)" 
              srcset="/assets/images/main.JPG"
              width="853"
              height="1280">
      
      <source media="(min-width: 1024px)" 
              srcset="/assets/images/main.JPG"
              width="853"
              height="1280">
      
      <img src="/assets/images/main.JPG"
           alt="профессиональный массаж в студии LOYA Massage, Минск"
           width="853"
           height="1280"
           class="w-full h-auto rounded-lg shadow-xl max-h-[450px] max-w-[3000px] md:max-h-[750px] md:max-w-[500px]">
    </picture>
  </div>
</div>